@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50%;
    width: 50%;
    max-width: 400px;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.name,
.email,
.nascimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

/* Estilo para os labels */
label {
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 18px;
}

/* Estilo para os inputs */
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50vh; 
    max-width: 300px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.35);
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo para o hover do botão */
button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
